.customButton {
    margin-top: 10px;
    margin-left: 20px;
    background-color: #a8d5ba; /* Світлий м'ятний зелений */
    border: none; /* Забираємо рамку */
    color: #FFFFFF; /* Білий текст */
    padding: 10px 20px; /* Відступи всередині кнопки */
    font-size: 16px; /* Розмір тексту */
    font-weight: bold; /* Жирний текст */
    border-radius: 10px; /* Закруглені кути */
    cursor: pointer; /* Індикатор кліка */
    transition: background-color 0.3s ease; /* Плавна зміна кольору при наведенні */
}

.customButton:hover {
    background-color: #94c9a8; /* Темніший пастельний зелений при наведенні */
}

.bouquetPage {
    display: flex;
}
