.bouquetPage {
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.filters {
    display: flex;
    flex-direction: row;
    gap: 15px;
    background-color: rgba(255, 255, 255, 0.5);/* Білий фон */
    padding: 20px;
    border-radius: 10px; /* Закруглені кути */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тінь */
    width: 100%;
}

.filters label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.filters input,
.filters select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box; /* Для коректних відступів */
}

.filters button {
    align-self: center; /* Вирівнювання кнопки по центру */
}

.customButton {
    margin-bottom: 56px;
    background-color: #f8bbd0; /* Світлий м'ятний зелений */
    border: none; /* Забираємо рамку */
    color: #ffffff; /* Білий текст */
    padding: 10px 20px; /* Відступи всередині кнопки */
    font-size: 16px; /* Розмір тексту */
    font-weight: bold; /* Жирний текст */
    border-radius: 10px; /* Закруглені кути */
    cursor: pointer; /* Індикатор кліка */
    transition: background-color 0.3s ease; /* Плавна зміна кольору при наведенні */
}

.customButton:hover {
    background-color: #f48fb1; /* Темніший пастельний зелений при наведенні */
}

.alert {
    margin-top: 20px;
    padding: 10px 15px;
    border: 1px solid #d9534f;
    background-color: #f8d7da; /* Фон помилки */
    color: #721c24; /* Колір тексту */
    border-radius: 5px; /* Закруглені кути */
}

.text-center {
    text-align: center;
    font-size: 16px;
    color: #555;
}

.text-center p {
    margin: 0;
    padding: 0;
}

.dropdownButton {
    display: flex;
    justify-content: space-around;
    color: white;
    border: none;
    padding: 5px 7px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 150px;
    align-items: center;
    background-color: #f8bbd0;
}

.dropdownButton:hover {
    background-color: #f48fb1;
}

.dropdownList {
    position: fixed;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    list-style: none;
    padding: 0;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
}

.dropdownList li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.dropdownList li:hover {
    background-color: #f1f1f1;
}

.selectedItem {
    background-color: #e9ecef;
    font-weight: bold;
}

.dropdownButton img {
    width: 20px;
    height: 20px;
}

