.bouquetsContainer {
    display: flex;
    flex-wrap: wrap; /* Для переносу карток на наступний рядок */
    gap: 20px; /* Відстань між картками */
    justify-content: center; /* Вирівнювання по центру */
    margin-top: 50px; /* Відступ зверху */
}

.bouquetCard {
    width: 300px; /* Фіксована ширина для картки */
    height: 500px; /* Фіксована висота для картки */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.noBouquets {
    text-align: center;
    font-size: 1.5rem;
    color: #555; /* Сірий колір тексту */
    margin-top: 50px;
}